/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #dbdbdb;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-boreder-radius: 4px;

  /* Animation duration */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
}

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

#navbar .navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#navbar .navbar__menu {
  display: flex;
}

#navbar .navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-boreder-radius);
}

#navbar .navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-boreder-radius);
}

#navbar .navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

/* Home */
#home {
  background: url("https://import.cdn.thinkific.com/292401/homebackground-200515-154505.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

#home .home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

#home .home__title, 
.home__description {
  color: var(--color-white);
}

#home .home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white); 
  border-radius: 4px;
}

/* About */
#about .about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

#about .major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-blue);
  margin: auto;
  margin-bottom: 16px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
}

#about .major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
  transition: all var(--animation-duration) ease-in-out;
}

#about .major__title,
.major__description {
  color: var(--color-dark-grey);
}

#about .major__description {
  font-size: var(--font-small);
}

#about .job {
  display: flex;
  align-items: center;
}

#about .job__description {
  margin: 0 16px;
  text-align: left;
  color: var(--color-light-grey);
}

#about .job__name {
  font-size: var(--font-small);
}

#about .job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

#skills .skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
} 

#skills .skillset .skillset__title {
  color: var(--color-white);
}
/* skillset left */
#skills .skillset .skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}


#skills .skillset .skillset__left .skill {
  margin-bottom: 32px;
}

#skills .skillset .skillset__left .skill .skill__description {
  display: flex;
  justify-content: space-between;
}

#skills .skillset .skillset__left .skill .skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

#skills .skillset .skillset__left .skill .skill__value {
  height: 3px;
  background-color: var(--color-orange);
} 
/* skillset right */
#skills .skillset .skillset__right {
  flex-basis: 40%;
}

#skills .skillset .skillset__right .tools {
  background-color: var(--color-grey);
  padding: 20px;
}

#skills .skillset .skillset__right .etc {
  padding: 20px;
}

/* Work */
/* work categories */
#work .work__categories {
  margin: 40px;
}

#work .work__categories .category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-boreder-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

#work .work__categories .category__btn.active,
#work .work__categories .category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

#work .work__categories .category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

#work .work__categories .category__btn.active .category__count ,
#work .work__categories .category__btn:hover .category__count {
  opacity: 1;
  top: 0;
} 
/* work projects */
#work .work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#work .work__projects .project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

#work .work__projects .project .project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

#work .work__projects .project .project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

#work .work__projects .project:hover .project__description {
  opacity: 1;
  transform: translateY(0px);
}

#work .work__projects .project .project__description h3 {
  color: var(--color-white);
}

#work .work__projects .project .project__description h3:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

